* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
img

h1,
h2,
h4 {
    color: #131313;
}

.primery-btn {
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    border: none;
    border-radius: 7px;
}

.primery-color {
    color: #FF900E;
}

.secondery-color {
    color: #131313;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

/*----------------
     header styles
---------------  */
header {
    background: rgba(255, 144, 14, 0.1);
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 63px 30px;


}

.header-section h2 {
    font-weight: 700;
    font-size: 45px;
}

.header-section ul {
    display: flex;
    align-items: flex-end;
}

.header-section ul li {
    list-style: none;
    margin-left: 50px;
}

.header-section ul li {
    font-weight: 500;
    font-size: 18px;

}

/* banner styles */
.banner {
    text-align: center;
}

.banner h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.banner p {
    margin: 33px 0;
}

.banner img {
    margin: 50px 0;
    width: 100%;
}

/* quick list section  */
.quick-list {
    display: flex;
    margin: 85px auto 130px auto;
    gap: 73px;
    
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-info {
    display: flex;
    align-items: center;

}

.quick-list-info h2 {
    color: #727272;
    line-height: 53px;
    font-size: 45px;
}

.quick-list-info p {
    margin: 24px 0 32px 0;
}

/* experience section  */

.experience {
    display: flex;
    gap: 146px;
    
}

.experience-info h2 {
    border-left: 8px solid #FF900E;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    padding-left: 25px;
}

.experience-info .p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0;
}

.e-info-box {
    box-shadow: 0px 1px 15px -9px;
    padding: 30px;
    margin: 20px 0;
    border-radius: 5px;
}

.e-info-box h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.e-info-box p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
.architect-img img{
    width: 100%;
}
#experience-btn{
    padding: 46px;
    margin: -100px;
}

#experience-btn h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
   
}


/* service styles */

.services {
    margin-top: 130px;
}

.service-boxes {
    display: flex;
    gap: 124px;
    justify-content: center;
    margin-top: 100px;
}

.service {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
}

.service h2 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.service p {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

.sponspores {
    margin-top: 180px;
}

.sponsors-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.sponsors-logos img {
    filter: grayscale(100%);
}

.copyright {
    text-align: center;
    padding: 40px 0;
    background: #FFF4E7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: 113px 0 215px 0;
}

/* ----------------------
       responsive 
-------------------------*/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) { 
    
    .quick-list-info{
        width: 100%;
    }
    .header-section h2 {
        font-size: 30px;
    }
    .banner h1 {
        font-size: 50px;
    }
    .architect-img img {
        width: 88%;
        margin: 0 auto;
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
    .images img{
        width: 100%;
        padding-left:30px ;
    }
    .sponsors-logos{
       flex-direction: column;
       align-items: center;
       
    }
    .sponsors-logos img{
        width: 40%;
        margin-bottom: 20px;
    }
    .service-boxes{
        flex-direction: column;
        align-items: center;
    }
    .experience{
        flex-direction: column;
    }
    #experience-btn{
        margin: 0;
    }
    #experience-btn {
        margin-left: 30px !important;
        margin-top: 30px;
    }
    .architect-img img {
        width: 95%;
        margin: 0 auto;
        display: block;
    }
   
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 
    .images {
        grid-template-columns: repeat(1, 1fr)
    }
    .header-section ul {
        flex-direction: column;
    }
    .header-section ul li {
        margin-top: 20px;
    }   
    .experience-info .p{
        margin-left: 20px;
        margin-right: 20px;
    }
    .experience-info h2{
        margin-left: 20px;
    }
   
   
 }

/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 769px) and (max-width:1200px) {
    #experience-btn h2 {
        font-size: 50px;
    }
    #experience-btn{
        padding: 20px;
    }
    .service{
        height: 180px;
        width: 18%;
    }
    .service-boxes{
        gap: 5%;
    }
 }
